body {
    // background: #a1dae3 url("../media/webpacklogo.png") repeat;
    background-color: #b6fcd5;
    font-family: 'Montserrat', sans-serif;
}

// .topline {
//     display: flex;
//     justify-content: center;
//     background-color: white;
//     font-size: 40px;
//     color: salmon;
// }

.container1 {
    display: flex;
    align-content: space-around;
    // background-color: #32a893;
    font-size: 60px;
    font-style: oblique;
    color: greenyellow;
    padding: 12px;
    border-radius: 12px;
}

.works {
    display: flex;
    min-width: 100%;
    justify-content: space-evenly;
    font-size: 9px;
    background-color: burlywood;
}

h3 {
    text-align: center;
    background-color: white;
    font-size: 40px;
    font-style: italic;
    font-weight: bolder;
    border-radius: 6px;
}

h4 {
    background-color: aquamarine;
    font-size: 40px;
    font-style: italic;
    font-weight: bolder;
}

.plan-section {
    display: inline-block;
    align-content: space-between;
    background-color: whitesmoke;
}

.top-nav {
    display: block;
    justify-content: space-around;
    font-size: 20px;
    background-color: white;
    margin: 16px;
    padding: 12px;
    border-radius: 6px;
}

.p {
    display: flex;
    justify-content: space-evenly;
    background-color: azure;
}

// .classy {
//     display: flex;
//     background-color: aquamarine;
//     font-size: 40px;
//     font-style: italic;
//     font-weight: bolder;
//     justify-content: space-evenly;
// }

// h1 {
//     color: black;
//     text-decoration-color: darkgreen;
//     font-size: 20px;
// }

.contact {
    display: flex;
    justify-content: space-evenly;
    background-color: #a4eb34;
    padding: 12px;
    border: 26px;
    border-radius: 12px;
    border-color: antiquewhite;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 40%;
    background-color: cyan;
}

// .extra {
//     display: flex;
//     justify-content: space-evenly;
//     background-color: antiquewhite;
//     padding: 12px;
// }

a:hover {
    background-color: yellow;
    border: 2px solid blue;
    border-radius: 6px;
    border-color: aqua;
    text-shadow: 2px 2px 7px rgba(150, 150, 150, 1);
    color: red;
    transition: ease 0.5s all;
}
